<div class="events-container">
    <h2>My Events</h2>

    <% if @created_events.length == 0 %>
        <h3>You haven't created any events yet.</h3>
    <% else%>
        <h3>Created Events</h3>
        <div class="card-container">
            <% @created_events.each do |event| %>
                <div class="card">
                    <div class="card-content">
                        <h2><%= event.title %></h2>
                        <div class="card-header">
                            <p>Hosted by: <%= event.creator.username %></p>
                            <%#<div>Invitees</div>
                            <div>Attendees</div>%>
                        </div>
                        <div class="card-description"> <%= event.description %></div>
                        <div class="card-location">
                            <div><%= event.location %></div>
                            <div><%= event.date_time %></div>
                        </div>
                    </div>
                </div>    
            <% end %>
        </div>
    <% end %>

    <% if @attended_events.length == 0 %>
        <h3>You aren't attending any events yet.</h3>
    <% else%>
        <h3>Attended Events</h3>
        <div class="card-container">
            <% @attended_events.each do |event| %>
                <div class="card">
                    <div class="card-content">
                        <h2><%= event.title %></h2>
                        <div class="card-header">
                            <p>Hosted by: <%= event.creator.username %></p>
                            <div>Invitees</div>
                            <div>Attendees</div>
                        </div>
                        <div class="card-description"> <%= event.description %></div>
                        <div class="card-location">
                            <div><%= event.location %></div>
                            <div><%= event.date_time %></div>
                        </div>
                    </div>
                </div>    
            <% end %>
        </div>
    <% end %>
</div>
